.dashboard {
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: absolute;
}

.updateOrderForm {
    margin: 5vmax 0;
    padding: 3vmax;
    background-color: white;
}

.updateOrderForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.updateOrderForm > div > select {
    padding: 1vmax 4vmax;
    margin: 2rem 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.27);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
}

.updateOrderForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.62);
}

.updateOrderForm  #processOrderBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 1.2vmax "Roboto";
    width: 100%;
    padding: 0.9vmax;
    cursor: pointer;
    transition: all 0.5s;
    text-transform: uppercase;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
}

#processOrderBtn:hover {
    background-color: rgb(179, 66, 46);
} 


@media screen and (max-width: 600px){
    .dashboard {
        grid-template-columns: 1fr;
    }

   .updateOrderForm {
        padding: 5vmax;
    }

    .updateOrderForm > div > select {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
    }

    .updateOrderForm > div > svg {
        font-size: 2.8vmax;
    }

    #processOrderBtn {
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }

}