.dashboard {
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: absolute;
}


.orderListContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.178);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#orderListHeading {
    font: 400 2rem "Roboto";
    padding: 1vmax;
    box-sizing: border-box;
    color:rgba(0, 0, 0, 0.61);
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
}

.orderListTable {
    background-color: white;
    border: none !important;
}

.orderListTable div {
    font: 300 1vmax "Roboto";
    /* color: rgba(0, 0, 0, 0.8); */
    border: none !important;
}

.orderListTable a,
.orderListTable Button {
    color: rgba(0, 0, 0, 0.61);
    transition: all 0.5s;
}

.orderListTable a:hover {
    color: tomato;
}

.orderListTable Button:hover {
    color: red;
}

.MuiDataGrid-columnHeader div {
    color: white !important;
}


@media screen and (max-width: 600px) {
    .dashboard {
        grid-template-columns: 1fr;
    }
    .orderListTable div {
        font: 300 4vw "Roboto";
    }
}